@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --assets-globales-azul: rgba(39, 55, 77, 1);
  --assets-globales-azul-clarito: rgba(221, 230, 237, 1);
  --assets-globales-blanco: rgba(221, 230, 237, 1);
  --assets-globales-blanco-palido: rgba(251, 251, 251, 1);
  --assets-globales-color: rgba(82, 109, 130, 1);
  --assets-globales-color-2: var(--assets-globales-azul-clarito);
  --assets-globales-color-3: var(--assets-globales-color);
  --botones-font-family: "Work Sans", Helvetica;
  --botones-font-size: 18px;
  --botones-font-style: normal;
  --botones-font-weight: 400;
  --botones-letter-spacing: 0px;
  --botones-line-height: normal;
  --h1-font-family: "Work Sans", Helvetica;
  --h1-font-size: 48px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h2-font-family: "Work Sans", Helvetica;
  --h2-font-size: 20px;
  --h2-font-style: normal;
  --h2-font-weight: 400;
  --h2-letter-spacing: 0px;
  --h2-line-height: 117.2061562538147%;
  --h3-font-family: "Work Sans", Helvetica;
  --h3-font-size: 16px;
  --h3-font-style: normal;
  --h3-font-weight: 400;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}